<div class="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <ng-container *ngIf="!newUser()">
      <li role="presentation" routerLinkActive="active"><a routerLink="/admin/users/new">New</a></li>
    </ng-container>
    <ng-container *ngIf="newUser()">
      <li role="presentation" class="active"><a role="button">Modify</a></li>
      <hr>
      <li role="presentation"><a routerLink="/admin/users/new">New</a></li>
    </ng-container>
    <li role="presentation" routerLinkActive="active"><a routerLink="/admin/users/list">List</a></li>
  </ul>
</div>